#contenu{
	max-width: 95%;
    margin: auto;
}

#yes, #no{
	margin-bottom: 6px;
	max-width: 80px;
}
.sousensemble{
	display:flex;
}

.source{
	width: 400px;
	padding: 5px;
}
.opinion{
	float: right;
}
.explication{
	width:30%;
	margin: 10px;
}
.sourcediv{
	width:40%;
	margin: 10px;
}
.opinion{
	width:30%;
	margin: 10px;
}

.commentaire{
	display: flex;
}

.resY{
	width: 50%;
}
.resN{
	width: 50%;
}