<div id="footer">
	Hydromel produit entièrement en France. Vous avez des problèmes? Ne nous contactez <a href="http://tribemedia.org/wp-content/uploads/2016/11/Trevor1.jpg">pas</a>.
</div>

</body>
</html>
<link rel="stylesheet" href="../less-css/main.css">
