<!DOCTYPE html>
<html lang="fr">
  <head>

      <!-- Encodage de la page + definition du titre -->
      <meta charset="UTF-8" name="Justifié" content="Un Jus de proximité">
      <title>BriGit</title>

      <!-- meta de base -->
      <meta name="title" content="BriGit">
      <meta name="description" content="Coder bien, c'est coder plein.">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="keywords" content="Jus,Justifié">

      <!-- Paramètres utilisés lors de l'intégration dans les réseaux sociaux -->
      <meta property="og:image" content=""/>
      <meta property="og:description" content="Coder bien, c'est coder plein."/>
      <meta property="og:url"content="https://BriGit.fr/" />
      <meta property="og:title" content="BriGit, coder bien, c'est coder plein." />

      <!-- Facebook api -->
      <meta property="fb:app_id" content="614144995437758" />

      <!-- Google API -->
      <meta name="google-signin-client_id" content="394600434723-aj81mq94acn15j9s0bf6heoanl59qodu.apps.googleusercontent.com">

      <!-- Style de la page actuelle -->

      <!-- API Google -->
      <script src="https://apis.google.com/js/platform.js" async></script>

    </head>
<body>
  <div id="head" onclick="location.href='/'"><b>BriGit</b></div>
