<html>
<body>
<header>
</header>
<form method="get" action="/alert_create">
    <input type="text" name="lat">
    <input type="text" name="long">
    <input type="submit" value="Submit">
</form>
</body>
</html>
