<% include ../partials/header.ejs %>
<head>
	<meta charset="utf-8"/>
</head>
<br><br>
<h2>Un hydromel de merde.</h2>
<br>
<img id="doggo"></img>
<script type="text/javascript" src="/js/error.js"></script>
<% include ../partials/footer.ejs %>
