<% include ../partials/header.ejs %>
<br><br>
<div id="fire"><object width="402" height="258"><param name="movie" value="http://www.youtube.com/v/eyU3bRy2x44?version=3&amp;hl=en_US&amp;&autoplay=1&iv_load_policy=3&rel=0&amp;hd=1"></param><param name="allowFullScreen" value="true"></param><param name="allowscriptaccess" value="always"></param><embed src="http://www.youtube.com/v/eyU3bRy2x44?version=3&amp;hl=en_US&autoplay=1&iv_load_policy=3&rel=0&amp;hd=1" type="application/x-shockwave-flash" width="402" height="258" allowscriptaccess="always" allowfullscreen="true"></embed></object></div>
<br>
<img id="doggo"></img>
<script type="text/javascript" src="/js/error.js"></script>
<% include ../partials/footer.ejs %>
