<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<title>BriGit</title>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
		<link rel="stylesheet" href="../less-css/ndi_index.css"/>

		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>

		<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>

		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.js"></script>
		<script type="text/javascript">
			var markers = [];

			var socket = io.connect("http://127.0.0.1:8080");
			socket.on('liste_localisations', function(retour)
			{
				retour = JSON.parse(retour);
				var alerts = retour.alerts;

				for (var i = 0; i < alerts.length; i++)
				{
					var coord = new google.maps.LatLng(alerts[i].latitude, alerts[i].longitude);
					var date = new Date(alerts[i].date);
    				var day = date.getDay() + 2;
    				var month = date.getMonth() + 1;
    				var year = date.getFullYear();
    				var hours = date.getHours();
    				var minutes = date.getMinutes();

    				addMarker(coord);
    				markers.push(coord);

					$("#liste_elems").html($("#liste_elems").html() + '<a href="#!" class="collection-item" onclick="zoomTo(' + i + ')">' + day + "/" + month + "/" + year + " - " + (hours < 10 ? "0" : "") + hours + ":" + (minutes < 10 ? "0" : "") + minutes + '</a>');
				}
			});
			socket.emit("liste_localisations");
		</script>


	</head>
	<body>
		<div id="page">
			<div id="map"></div>
			<div id="liste">
				<nav>
					<div class="nav-wrapper">
						<a href="#" class="brand-logo center">BriGit</a>
					</div>
				</nav>
	      		<div id="liste_elems" class="collection">
				</div>
			</div>
		</div>
		<script>
			var map;
			function initMap()
			{
				map = new google.maps.Map(document.getElementById('map'),
				{
					center: {lat: 48.858596, lng: 2.2923033},
					zoom: 7
				});
			}

			function addMarker(location)
			{
		        marker = new google.maps.Marker(
		        {
		            position: location,
		            map: map
		        });
		    }

		    function zoomTo(id)
		    {
		    	map.setZoom(17);
				map.panTo(markers[i]);
		    }
		</script>
		<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyATH2hrenFAvSA9GhFjiO3ADHN_RMGUF4Q&callback=initMap" async defer></script>
	</body>
</html>